[Unit]
Description=tftpd-hpa TFTP Server
Documentation=man:in.tftpd
Requires=tftp.socket
After=network-online.target

[Service]
# --------------------------------------------------------------------------
# Location of tftp files
Environment=TFTPD_HOME=%S/tftpboot
# --------------------------------------------------------------------------
# For a readonly server enable/tweak this
Environment=TFTPD_ACCESS_OPTS="--permissive --read-only"
# --------------------------------------------------------------------------
# For a read/write server enable/tweak this
# Environment=TFTPD_ACCESS_OPTS="--permissive --create --umask 022 --max-upload 1048576"
# ReadWritePaths=%S/tftpboot
# --------------------------------------------------------------------------
# Network tweakables
Environment=TFTPD_NET_OPTS="--blocksize mtu"
# --------------------------------------------------------------------------
User=tftp
ExecStart=/usr/sbin/in.tftpd $TFTPD_NET_OPTS $TFTPD_ACCESS_OPTS --systemd --jail ${TFTPD_HOME}
ProtectHome=yes
ProtectSystem=strict
ProtectHostname=yes
ProtectClock=yes
ProtectKernelTunables=yes
ProtectKernelModules=yes
ProtectKernelLogs=yes
ProtectControlGroups=yes
PrivateDevices=yes
PrivateTmp=yes
NoNewPrivileges=yes
RestrictAddressFamilies=AF_UNIX AF_INET AF_INET6
SystemCallArchitectures=native

[Install]
WantedBy=multi-user.target
Also=tftp.socket
